<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Compulsion Preferences.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Compulsion Tester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Compulsion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>363B78C318A217E30080995A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>363B78E418A21E330080995A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>363B790018A21EA00080995A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36E4258618B21729008A1F75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36E425A018B2172D008A1F75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
